@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /*    Primary */
    --primary-50: #eff4ff;
    --primary-100: #dbe6fe;
    --primary-200: #bfd4fe;
    --primary-300: #93b9fd;
    --primary-400: #6193f9;
    --primary-500: #3c6cf5;
    --primary-600: #2f54eb;
    --primary-700: #1e38d7;
    --primary-800: #1f2fae;
    --primary-900: #1e2d8a;
    --primary-950: #171e54;
    --std-layout-padding: 20px;

    --font-base: 16px;
    --font-sub-base: 15px;

    --navbar-height: 88px;

    --shadow-fb: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    --shadow-soft: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    --shadow-bottom: 0 10px 20px -20px rgba(0, 0, 0, 0.1);
}

html, body {
    height: 100%;
    @apply bg-neutral-50;
}

* {
    @apply font-base;
}

.select-pill > .ant-select-selector {
    border-radius: 20px !important;
}

.std-layout {
    display: grid;
    grid-template-columns: [outer-start] var(--std-layout-padding) [inner-start] 1fr [inner-end] var(--std-layout-padding) [outer-end];
    grid-auto-rows: max-content;
    width: 100%;

    & > * {
        grid-column: inner-start / inner-end;
    }

    & > .std-layout-outer {
        grid-column: outer-start / outer-end;
    }

    & > .std-layout-inner {
        grid-column: inner-start / inner-end;
    }

    & > .std-layout-grow {
        grid-row: span 100;
    }
}

.main-tabs {
    .ant-tabs-nav {
        box-shadow: var(--shadow-bottom) !important;
        width: 100% !important;
        background: white;
        display: flex;
        justify-content: space-between;
        padding: 0 var(--std-layout-padding);
    }

    .ant-tabs-tab {
        display: flex;
        justify-content: center;
        flex: 1;
        text-align: center;
    }

    .ant-tabs-nav > div:nth-of-type(1) {
        display: unset !important;
        width: 100% !important;
    }

    .ant-tabs-content-holder {
        padding: 0 var(--std-layout-padding);
    }
}

.tabs-no-spacing {
    .ant-tabs-nav {
        margin-bottom: 0 !important;
    }

    .ant-tabs-nav-list {
        transition: none !important;
        transform: none !important;
    }
}

.list-no-padding {
    .ant-pro-card-body {
        padding: 0 !important;
    }

    .ant-pro-table-list-toolbar-container {
        padding: 0 !important;
    }
}

.descriptions-header-margin {
    .ant-descriptions-header {
        margin-bottom: 16px !important;
    }
}

.tabs-gradient {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgba(0, 0, 0, 0.3);
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

.descriptions-description {
    .ant-descriptions-item-content {
        & > *:first-child {
            width: 100%;
        }
    }
}

.std-steps {
    * .ant-steps-item-title {
        @apply text-base !important;
    }
}

.antd-calendar-change-disabled-color {
    .ant-picker-cell-disabled {
        @apply bg-red-200 !important;
    }
}

.custom-active-tab {
    .ant-tabs-tab-active {
        @apply rounded-b-lg !important;
    }

    .ant-tabs-tab {
        @apply rounded-lg !important;
    }
}

.custom-collapse-padding {
    .ant-collapse-content-box {
        @apply px-layout pb-3 pt-0 !important;
    }
}

.custom-segmented-label-no-padding {
    .ant-segmented-item-label {
        padding: 0 !important;
    }
}

.ant-drawer-content-wrapper {
    max-height: 100%;
}